/*----color----*/

$c1:#207531;
$c2:#e50015;
$c-main:#747474;
$c-des:#616161;
$c-date:#7f7f7f;
$c-active:#40930e;
$c-hot:#e31721; 
$black:#000;
$c-white: rgba(255,255,255,0.9);


/*----background----*/

$bg1:$c1;
$bg2:$c2;
$bg-white: #fff;

/*----line----*/

$line1:#ececec;
$line2:#a9a9aa;
$line3:#d2d2d2;


